<div id="main-container">
  <form action="/url" method="POST">
    <input name="url" id="url-input" type="text" placeholder="http://google.com">
    <input id="form-submit" type="submit" value="Submit">
  </form>
</div>
