.title{
  margin:auto;
  text-align:center;
  color: #2c2c67;
  font-size: 1.6vw;
  margin-top: 3%;
  font-family: monospace;
}
#main-container{
  text-align:center;
  margin-top:5%;
}
#main-container input{
  padding: 0.5%;
}
#url-input{
  width:20%;
  text-align: center;
}
#preview{
  background: #c3c3c3;
  color: #2c2c67;
  width: 30%;
  height: 10%;
  border: 1px solid black;
  margin: auto;
  position: relative;
}
#preview a{
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 1.4vw;  
}
